@model TestForNipi.Web.Models.Registration.RegistrationViewModel

<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <input asp-for="SectionId" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="FirstName" class="control-label"></label>
            <input asp-for="FirstName" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="Email" class="control-label"></label>
            <input asp-for="Email" class="form-control" />
        </div>
    </div>
</div>

